@font-face {
  font-family: "Satoshi Variable";
  src: url("../assets/fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "DM Serif Display Regular";
  src: url("../assets/fonts/DMSerifDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  font-family: "Satoshi Variable";
}

body {
  font-size: 3rem;
}

.App {
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
}

// h2 {
//   font-family: "DM Serif Display Regular";
// }
