.section-title {
  font-size: 5rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: rgb(16, 16, 55);
}

.section-subtitle {
  font-size: 3rem;
  color: rgb(64, 1, 1);
}
